* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 8vh;
  font-size: 1.3rem;
  margin: 2rem 5rem;
}
#nav-routes a {
  margin: 0 1rem;
}
nav span {
  color: #ff8903;
  font-weight: 900;
}

#nav-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100vw;
  height: 92vh;
  background-image: url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 8rem;
}
#nav-img-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#nav-img-container * {
  position: relative;
  z-index: 1;
}

#contact-me {
  color: #ff8903;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
  border: 5px solid #ff8903;
}

#header-content {
  color: white;
  width: 30rem;
  margin-bottom: 3rem;
}

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

#projects {
  display: flex;
}

#project-container span {
  color: #ff8903;
  font-weight: 900;
  font-size: 2rem;
}

.proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 28vw;
  margin: 1rem;
  border: 5px solid #ff8903;
  padding: 1rem;
}
.project-title {
  color: #ff8903;
  font-weight: 900;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.project-detail {
  color: gray;
  padding: 0px 1rem;
}
.project-link {
  color: #ff8903;
  margin-top: 1.5rem;
}

#footer-container {
  display: flex;
  background-color: #4e4d4d;
  padding: 2rem 6rem;
}

.footer-content {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
  border-right: 2px solid black;
  padding: 2rem;
}

.footer-content p {
  font-size: medium;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
}

#follow a,
#follow p {
  color: black;
  font-weight: bold;
}

#note {
  border: none;
}

#copyright {
  display: flex;
  background-color: #4e4d4d;
  padding: 0rem 6rem;
  padding-bottom: 1rem;
}

#cpy-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dotted gray;
  padding-top: 1rem;
  font-size: 0.8rem;
  color: white;
}
